= form_for :issue, :method => 'put' do |f|
	= f.text_field :queue, :placeholder => 'Queue Title'
	%br
	= f.text_area  :solution, :placeholder => 'Solution'
	%br
	= f.submit 'Save Changes', :id => 'submit_queue'
	= link_to 'cancel', root_path, :id => 'cancel-new-issue'
	