.container 	
	.split.first-half
		.search-bar 
			.search-container
				= form_for :issue, :method => 'get' do |f|
					= text_field_tag :search, params[:search], :placeholder => 'Search Queue (lower case)', :autofocus => true
				= link_to 'Add', new_issue_path, :id => 'add-new-issue'
				.help
					= link_to "#", :id => 'help' do 
						%i.fa.fa-info-circle
		.help-info{:style => 'display: none;'} 
			%ul 
				%li Use ``` to highlight syntax. 
				%li Search using keywords
		.queue
			= render @issues.reverse_order 	
	.split.second-half
		.current-queue
			%h2{:id => 'latest-queue-title'} 
				- if @issues.size == 1
					= @issues.first.queue
				- if @issues.size > 1 
					= @issues.last.queue
			.current-content
				%span{:id => 'original'}
					- if @issues.size == 1
						= @issues.first.solution
					- if @issues.size > 1 
						= @issues.last.solution
			.no-solution{:style => 'display: none;'}
				= link_to image_tag('https://wyncode.co/wp-content/uploads/2014/08/31.jpg', size: '500x380'), 'https://wyncode.co/wp-content/uploads/2014/08/31.jpg', :target => '_blank'
